@import url('https://rsms.me/inter/inter.css');

* { font-family: "Inter", "Inter UI", "Helvetica Neue", sans-serif; }

body {
    margin: 10px;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #555;
}

button {
    font-size: 1.5rem;
    margin-right: 10px;
    margin-bottom: 10px;
    min-width: 100px;
    min-height: 50px;
}

table {
    border-collapse: collapse;
}
