<html>
  <head>
    <title>mntcontrol</title>
    <script src="/js/mntcontrol.js"></script>
    <link rel="stylesheet" href="/css/style.css?v=2"></link>
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <h1>Lab Lights</h1>
    {% for light in lights %}
    <div class="controls">
      {{ light.title }}
      <button onclick="setLight('{{ light.name }}',255)">On</button>
      <button onclick="setLight('{{ light.name }}',128)">Dim</button>
      <button onclick="setLight('{{ light.name }}',0)">Off</button>
    </div>
    {% endfor %}
  </body>
</html>
